#eficiencia {

    > #eficiencia-conteudo {
        > #texto-paginas-secundarias {
            @include make-col-ready();
            @include media-breakpoint-up(md){
                @include make-col(9);

                padding-left: 0;
                padding-right: 0;
            }
        }

        > .menu-lateral {
            @include make-col(3);

            width: 10%;
            padding-left: 8%;
            > ul {
                background-color: $orange_pattern;
                padding: 0;
                > li {
                    list-style: none;
                    > .menu-title {
                        background-color: $orange_dark;
                        text-transform: uppercase;
                        &:hover {
                            background: $orange_dark;
                        }
                    }
                    > a {
                        display: block;
                        letter-spacing: 1px;
                        padding: 10px 0px;
                        text-align: center;
                        color: white;
                        font: bold 11pt $font_main;
                        text-decoration: none;
                        border-top: 1px solid rgba(0,0,0,.2);
                        transition: 0.5s;
                        &:hover {
                            background: $orange_select;
                        }
                    }
                }
            }
        }
    }

    #servico-orcamento {
        justify-content: left;
    }
}

